/* Note: Please append the following css classes tp App.css */
.panel {
  border: 1px solid lightgray;
  margin: 20px;
}

.panel > div:first-child {
  border-bottom: 1px solid lightgray;
  color: rgb(0, 140, 255);
  background-color: rgb(235, 235, 235);
  height: 40px;
  line-height: 40px;
}

.panel > div:first-child > h3 {
  margin: 0;
  margin-left: 10px;
}

.panel > div:nth-child(2) {
  min-height: 80px;
  padding: 10px;
}

.panel > div:last-child {
  border-top: 1px solid lightgray;
  padding: 5px;
  text-align: center;
}

button {
  border: 1px solid gray;
  height: 30px;
  line-height: 30px;
  min-width: 70px;
  margin-right: 3px;
}
